#map {
  height: 100%;
  width: 100%;
}

#controls {
  position: absolute;
  right: 1%;
  bottom: 0%;
  width: 27%;
  height: 25%;
  z-index: 1999;
  display: grid;
  transition: 0.5s;
}

.control {
  pointer-events: none;
}

.controlChild {
  pointer-events: auto;
}

#startDateInput {
  grid-row: 2;
  grid-column: 2;
}

#controls label {
  font-size: 3ch;
  text-align: right;
  margin-right: 5px;
  align-self: center;
}

#controls button {
  font-size: 2ch;
  width: 80%;
  height: 80%;
  margin: auto;
  cursor: pointer;
  border-radius: 5px;
  background-color: var(--color-2);
  color: white;
  border: none;
}

#controls input {
  font-size: 2ch;
  width: 80%;
  height: 80%;
  margin: auto;
}

#startDateLabel {
  grid-row: 2;
  grid-column: 1;
}

.hideControl {
  bottom: -22% !important;
}

#endDateInput {
  grid-row: 3;
  grid-column: 2;
}

#endDateLabel {
  grid-row: 3;
  grid-column: 1;
}

#filterByDateButton {
  grid-row: 4;
  grid-column: 2;
}

#generateLabelsButton {
  grid-row: 5;
  grid-column: 2;
}

#generateTotalsButton {
  grid-row: 6;
  grid-column: 2;
}

#xButton {
  grid-row: 1;
  grid-column: 2;
  text-align: right;
  margin-top: 3px;
  margin-right: 10px;
  font-size: 3.5ch;
  font-weight: bold;
  margin-bottom: 0px;
  height: 10px;
  cursor: pointer;
}

#resetButton {
  grid-row: 6;
  grid-column: 1;
  width: 50% !important;
  font-size: 2ch;
  height: 60% !important;
  background-color: red !important;
  color: white;
  font-weight: bold;
  border: none;
}

.totalsPopup {
  cursor: pointer;
}

.boreLabelPopup {
  cursor: pointer;
}

.totalsPopup>.leaflet-popup-tip-container {
  display: none;
}

.boreLabelPopup>.leaflet-popup-tip-container {
  display: none;
}

.totalsPopup>.leaflet-popup-content-wrapper>.leaflet-popup-content {
  margin: 0px !important;
  width: 10vw !important;
}

.boreLabelPopup>.leaflet-popup-content-wrapper>.leaflet-popup-content {
  margin: 0px !important;
  width: fit-content !important;
}

.totalsPopup>.leaflet-popup-content-wrapper {
  box-shadow: none;
  border-radius: 0px;
  border: 5px solid red;
  padding: 10px;
}

.boreLabelPopup>.leaflet-popup-content-wrapper {
  box-shadow: none;
  border-radius: 0px;
}

.asBuiltFootage {
  font-size: 2.4ch;
  font-weight: bold;
  text-align: center;
  padding: 0px;
  margin: 1px !important;
}

.yellowBackground {
  background-color: yellow;
}

.orangeBackground {
  background-color: orange;
}

.yellowBackground>.leaflet-popup-content-wrapper {
  background-color: yellow;
}

.orangeBackground>.leaflet-popup-content-wrapper {
  background-color: orange;
}

.totalsPopupContainer {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.totalsJobPageHeader {
  margin-top: 3px;
  margin-bottom: 3px;
  text-align: center;
}

.totalsRow {
  display: grid;
  grid-template-columns: 35% 25% 50%;
}

.totalsRow p {
  margin: 0px !important;
}

.totalsBillingCode {
  grid-row: 1;
  grid-column: 1;
  font-weight: bold;
  font-size: 3ch;
}

.totalsQuantity {
  grid-row: 1;
  grid-column: 2;
  text-align: right;
  font-size: 3ch;
}

.totalsImage {
  grid-row: 1;
  grid-column: 3;
  max-height: 25px;
  align-self: center;
  margin: auto;
}

#pageMovementContainer {
  grid-row: 4 /span 2;
  grid-column: 1;
  align-self: center;
  justify-self: center;
  width: 80%;
  display: flex;
}

.activeLink {
  background-color: green !important;
}

#pageMovementContainer button {
  width: 40% !important;
  font-size: 2.5ch;
  font-weight: bold;
  background-color: gray;
  height: 40px;
}


#nextPageButton {}

#previousPageButton {}
