:root {
  /* dark */
  --color-1: #5B616A;
  /* blue */
  --color-2: #275DAD;
  /* purple */
  --color-3: #ABA9C3;
  /* light blue */
  --color-4: #CED3DC;
  /* whiteish */
  --color-5: #FCF7F8;
  /* darker */
  --color-6: #2F3237;
}

html {
  font-family: Roboto, sans-serif;
  background-color: var(--color-5);
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 23vh;
}

.linkList {
  margin-top: 25px;
  border: 1px solid var(--color-5);
}

nav h1 {
  font-size: 4ch;
  font-weight: bold;
  color: var(--color-6);
  text-align: center;
  background-color: var(--color-3);
  margin: 0;
  padding-top: 10%;
  padding-bottom: 10%;
  width: 100%;
}

#toggleButton {
  height: 80px;
  position: fixed;
  z-index: 1999;
  bottom: 5%;
  left: 0%;
  font-size: 5ch;
  background-color: var(--color-3);
}

#toggleButton:active {
  background-color: var(--color-2);
}

li a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  color: var(--color-5);
  background-color: var(--color-2);
  font-size: 4ch;
  text-align: right;
}

li a.active {}

.hide {
  width: 0px;
}

.fullScreen {
  margin-left: 0 !important;
}

#content {
  margin-left: 20%;
  transition: all 0.5s ease-in-out;
}

.small {
  display: block;
  position: absolute;
  bottom: -70%;
  left: 0;
}

nav {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  list-style: none;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow: auto;
  background-color: var(--color-1);
  align-items: center;
  transition: width 0.25s ease-in-out;
}

#adminLink {
  display: none;
}
