#content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#productionControls {
  display: grid;
  width: 85%;
}

#productionControls input,
select {
  width: 80%;
  margin: auto;
  text-align: center;
}

#productionControls label {
  text-align: center;
  margin-bottom: 4px;
}

#vaultCheckbox {
  width: 20px;
  height: 20px;
}

#startDate {
  grid-row: 2;
  grid-column: 1;
}

#startDateLabel {
  grid-row: 1;
  grid-column: 1;
}

#endDate {
  grid-row: 2;
  grid-column: 2;
}

#endDateLabel {
  grid-row: 1;
  grid-column: 2;
}

#jobSelect {
  grid-row: 2;
  grid-column: 5;
}

#jobSelectLabel {
  grid-row: 1;
  grid-column: 5;
}

#crewSelect {
  grid-row: 2;
  grid-column: 4;
}

#crewSelectLabel {
  grid-row: 1;
  grid-column: 4;
}

#billingCodeSelect {
  grid-row: 2;
  grid-column: 3;
}

#billingCodeSelectLabel {
  grid-row: 1;
  grid-column: 3;
}

#vaultCheckbox {
  grid-row: 4;
  grid-column: 5;
}

#vaultCheckboxLabel {
  grid-row: 3;
  grid-column: 5;
}

#clientSelect {
  grid-row: 4;
  grid-column: 4;
}

#clientSelectLabel {
  grid-row: 3;
  grid-column: 4;
}

#productionTable {
  border-collapse: collapse;
  margin: auto;
  width: 80%;
}

#productionTable td,
th {
  border: 1px solid #999;
  padding: 0.5rem;
  text-align: center;
}

.lightRow {
  background-color: #D2D2D2;
}

.darkRow {
  background-color: #E1E1E1;
}

#productionTable tr {}

#productionTable td {
  /* background-color: var(--color-3); */
  font-size: 2.5ch;
}

#productionTable th {
  background-color: var(--color-2);
  color: var(--color-5);
  font-size: 3ch;
}

.headerElement {
  display: grid;
  margin: auto;
  grid-template-columns: 1fr 1fr;
}

#productionHeaders {
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
}

.billingCodeHeader {
  font-size: 3ch;
  margin: 0;
  grid-column: 1;
  font-weight: bold;
  margin-top: 1%;
}

.qtyHeader {
  margin: 0;
  font-size: 3ch;
  grid-column: 2;
  text-align: right;
}

.hiddenRow {
  display: none;
}

#noDataHeader {
  font-size: 4ch;
  text-align: center;
  margin-top: 20%;
}
