html
  head
    title Burrow Report - Fiber 1
    link(rel="stylesheet", href="/stylesheets/layout.css")
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin="anonymous")
    link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Fira+Code&family=Roboto:ital,wght@0,300;0,400;0,500;1,700&display=swap")

    block style

  body
    nav#navBar
      h1 Burrow Report
      ul
        li.linkList
          a(href="/viewJobs") Jobs
        li.linkList
          a(href="/viewProduction") Production
        li.linkList
          a(href="/viewLocates") Locates
        li.linkList
          a(href="#") Logout
    img(id="toggleButton", onclick="window.toggleNavBar()", src="/images/icons/caret-square-left.svg")



    div#content
      block content

    script(src="/scripts/layout.js")
    block scripts
