extends layout.pug

block style
  link(rel="stylesheet", href="/stylesheets/maintenance.css")


block content
  h1(style="color: white;") #{test}

block scripts
  script(src="/packed/maintenance.js")
